@charset "UTF-8";
* {
  color: #212121;
}

:root {
  --accent-color: #2196F3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li,
ul {
  padding-left: 0;
  margin: 0;
}

body {
  font-family: Roboto;
}

/* .remove-dots{list-style:none;} видалити крапки */
.remove-dots {
  list-style: none;
}

/* .remove-underscores{text-decoration:none;} видалити підкреслення */
.remove-underscores {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline:1px solid red;*/
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #212121;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo__nav {
  margin-right: 93px;
  display: flex;
  display: block;
}
.logo-footer {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
@media screen and (max-width: 1199px) {
  .logo-footer {
    display: flex;
    justify-content: center;
  }
}
.logo-blu {
  color: #2196F3;
}

.button {
  background-color: var(--accent-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadom 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus, .button:hover, .button:active {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order {
  color: #ffffff;
  display: block;
}

.footer-button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
  cursor: pointer;
  border-style: none;
}
@media screen and (min-width: 1200px) {
  .footer-button {
    position: absolute;
    top: 40px;
    left: 370px;
  }
}

.footer-button-contact {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*---МАДАЛКА ЗАКАЗАТЬ УСЛУГУ---*/
.bacdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bacdrop.is-hidden .madal {
  transform: translate(-50%, -50%) scale(0.3) perspective(600px) rotateX(24deg);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.madal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 311px) {
  .madal {
    height: 620px;
  }
}
@media screen and (max-width: 451px) {
  .madal {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .madal {
    top: 50%;
    left: 50%;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}
.madal-button {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.madal-button:hover, .madal-button:focus {
  fill: #2196F3;
  cursor: pointer;
}
.madal-close {
  position: absolute;
  width: 11px;
  height: 11px;
  transform: translate(-50%, -50%);
}

/*---форма заповненя---*/
textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 96px;
  margin-bottom: 20px;
  outline: none;
}
textarea:focus, textarea:hover {
  border-color: var(--accent-color);
}

label {
  margin-bottom: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

input {
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
@media screen and (min-width: 768px) {
  .form {
    width: 528px;
  }
}
.form-taitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.form-label-name {
  margin-bottom: 4px;
}
.form-field {
  margin-bottom: 10px;
}
.form-input-name {
  position: relative;
}

.input-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 35px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .input-form {
    width: 448px;
  }
}
.input-form:focus, .input-form:hover, .input-form:active {
  border-color: var(--accent-color);
}

.form-svg {
  position: absolute;
  fill: black;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
}
.input-form:focus + .form-svg, .input-form:hover + .form-svg, .input-form:active + .form-svg {
  fill: var(--accent-color);
}

.polisy-label::before {
  content: "";
}

.checkbox:checked + .polisy-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-form {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: tomato;
  border: 2px solid #212121;
}
.checkbox-form:hover, .checkbox-form:focus {
  fill: #2196F3;
  cursor: pointer;
}
.checkbox-form-span {
  position: absolute;
  width: 18.67px;
  height: 18.67px;
  transform: translate(-50%, -50%);
  fill: #188CE8;
  background-color: tomato;
}

.checkbox-form {
  justify-content: center;
  display: contents;
  fill: #188CE8;
}

.comment {
  display: flex;
  flex-direction: column;
}

.form-polisy {
  margin-left: 0px;
}
@media screen and (min-width: 768px) {
  .form-polisy {
    margin-left: 12px;
  }
}

.button-form {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.button-form:hover, .button-form:focus, .button-form:active {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  display: contents;
}

.menu {
  display: block;
  display: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
  }
}

.menu__item {
  display: block;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:focus, .menu__link:hover, .menu__link:active {
  color: var(--accent-color);
}

.testimony {
  color: var(--accent-color);
  cursor: pointer;
  position: relative;
}

.testimony::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.contact {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
  }
}

.contact__menu {
  display: flex;
}
@media screen and (min-width: 768px) {
  .contact__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
    margin-top: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__menu {
    display: flex;
    flex-direction: row-reverse;
  }
}

.contact__imet {
  display: block;
  display: flex;
}
@media screen and (min-width: 768px) {
  .contact__imet {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__imet {
    margin-left: 30px;
  }
}

.contact__linc {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__linc:focus, .contact__linc:hover, .contact__linc:active {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact__linc {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.contact__svg {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .contact__svg {
    margin-right: 10px;
  }
}

.button-mob {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadom 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.button-mob:focus, .button-mob:hover, .button-mob:active {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .button-mob {
    display: none;
  }
}

.madal-mob-button {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}
.madal-mob-button:hover, .madal-mob-button:focus {
  fill: #2196F3;
  cursor: pointer;
}
.madal-mob-close {
  position: absolute;
  width: 18.67px;
  height: 18.67px;
  transform: translate(-50%, -50%);
}

.mob {
  position: fixed;
  background-color: #ECECEC;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .mob {
    display: none;
  }
}

.menu-mob__item {
  margin-bottom: 32px;
}

.memu-mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.memu-mob__link:focus, .memu-mob__link:hover, .memu-mob__link:active {
  color: var(--accent-color);
}

.contact-mob {
  margin-bottom: 64px;
}

.contact-mob__imet {
  margin-bottom: 32px;
}

.contact-mob__linc-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-mob__linc-tel:focus, .contact-mob__linc-tel:hover, .contact-mob__linc-tel:active {
  color: var(--accent-color);
}
@media screen and (max-width: 352px) {
  .contact-mob__linc-tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.contact-mob__linc-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-mob__linc-mail:focus, .contact-mob__linc-mail:hover, .contact-mob__linc-mail:active {
  color: var(--accent-color);
}

.soc-mob {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 415px) {
  .soc-mob {
    display: flex;
    flex-wrap: wrap;
  }
}

.soc-mob__imet:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (max-width: 415px) {
  .soc-mob__imet:not(:last-child) {
    margin-bottom: 10px;
  }
}

.soc-mob__linc {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  width: 100% px;
  padding-bottom: 200px;
  padding-top: 200px;
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero-img/Header-mob-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero-img/Header-mob-img@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero-img/Header-desc-img.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero-img/Header-desc-img@2x.png);
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 94px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero-img/Img.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../hero-img/Img@2x.png);
  }
}

.hero__title {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  max-width: 600px;
  margin: 0 auto 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .activity-section {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .activity-section {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .activity {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .activity {
    display: flex;
    flex: auto;
  }
}

@media screen and (min-width: 768px) {
  .activity__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .activity__item {
    width: calc((100% - 90px) / 4);
  }
}

.activity__imet {
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .activity__imet {
    width: 270px;
  }
}

.activity__icon {
  width: 70px;
  height: 70px;
}

.activity__subject {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .activity__subject {
    text-align: center;
  }
}

.activity__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 100%;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .activity__text {
    width: 270px;
  }
}

.lesson-section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .lesson-section {
    display: none;
  }
}

.heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .heading {
    margin-bottom: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }
}

.activity-cou-img {
  display: flex;
}

.activity-img {
  display: block;
  width: 370px;
  height: 294px;
  position: relative;
}

.activity-img:not(:last-child) {
  margin-right: 30px;
}

.lesson-section-text {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
}

.lesson-section-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 27px;
  color: #FFFFFF;
}

.items {
  background-color: #F5F4FA;
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .items {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.heading-icon {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    display: flex;
    flex: auto;
  }
}

.heading-card {
  background-color: #F5F4FA;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .heading-card {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .heading-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .heading-card {
    width: calc((100% - 90px) / 4);
    max-width: 270px;
  }
}

.img-block {
  display: block;
}
@media screen and (max-width: 1199px) {
  .img-block {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .img-block {
    width: 270px;
    height: 260px;
  }
}

.items-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.cart-position {
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

/* -------svg-Наша команда------ */
.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-imet:not(:last-child) {
  margin-right: 10px;
}

.masters-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-soc-link:hover, .masters-soc-link:focus, .masters-soc-link:active {
  background: #2196F3;
}

.masters-soc-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-soc-link:hover .masters-soc-icon {
  fill: #ffffff;
}

.customers {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (max-width: 767px) {
  .customers-imet {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers-imet {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers-imet {
    width: calc((100% - 150px) / 6);
  }
}

/* --Постоянные клиенты svg-- */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers-link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover, .customers-link:focus {
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .customers-link {
    width: 170px;
  }
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover .customers-icon, .customers-link:focus .customers-icon {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
}

.footer-pad {
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  margin-top: 20px;
}

.footer-list-pad {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .footer-list-pad {
    margin-bottom: 8px;
  }
}

.footer-map {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:focus, .footer-contact:hover, .footer-contact:active {
  color: #ffffff;
}

/*---footer-form---*/
.footer-form-taitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-div {
    margin-left: 93px;
    position: relative;
  }
}

.footer-form {
  height: 50px;
}
@media screen and (max-width: 451px) {
  .footer-form {
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (min-width: 452px) {
  .footer-form {
    width: 100%;
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-form {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: 358px;
    height: 50px;
  }
}

.footer-label {
  width: 100%;
}

.footer-label + input {
  margin: 0;
  padding: 15px 16px;
  width: 100%;
  height: 100%;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
}

/* ---footer svg--- */
@media screen and (min-width: 1200px) {
  .footer-soc-flex {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-desc {
    display: flex;
    justify-content: space-between;
  }
}
.footer-soc-bloc {
  width: 231px;
}
@media screen and (min-width: 768px) {
  .footer-soc-bloc {
    margin-left: 76px;
  }
}
@media screen and (max-width: 767px) {
  .footer-soc-bloc {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc-bloc {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-soc-logo {
    margin-right: 89px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-soc-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc-logo {
    margin-left: 70px;
    width: 206px;
    margin-right: 0;
  }
}

.footer-soc-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-imet:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover {
  background-color: #2196F3;
}

.footer-soc-icon {
  fill: #ffffff;
}

/* ---СЕРВІС--- */
.aside {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .aside {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .aside {
    margin-bottom: 50px;
  }
}

.site-flex:not(:last-child) {
  margin-right: 8px;
}

.aside-nav {
  background-color: #F5F4FA;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  border: var(--accent-color);
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aside-nav:focus, .aside-nav:hover, .aside-nav:active {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --АСОРТИМЕНТ-- */
.pad-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .pad-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.obligatory {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.obligatory-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.obligatory-card {
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .obligatory-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .obligatory-card {
    width: calc((100% - 60px) / 3);
  }
}
.obligatory-img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .obligatory-img {
    width: 370px;
    height: 294px;
  }
}

.remove-nav {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.remove-nav:hover, .remove-nav:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.remove-nav-text {
  position: relative;
  overflow: hidden;
}

.remove-top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
.remove-nav:hover .remove-top-text, .remove-nav:focus .remove-top-text {
  transform: translateY(0%);
}

.border {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px 20px 24px;
}

.title {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
}

.lead {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}/*# sourceMappingURL=main.css.map */