body {
font-family: Roboto;
}
/* .remove-dots{list-style:none;} видалити крапки */
.remove-dots {
    list-style: none;
}

/* .remove-underscores{text-decoration:none;} видалити підкреслення */
.remove-underscores {
    text-decoration: none;
}